* {
  font-family: "Oxygen", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #0c343d;
}

a:link {
  color: #0c343d;
}

a:hover {
  color: #aaa;
}

body {
  background-color: rgb(81, 233, 225);
}

main {
  background-color: white;
  margin: 50px auto;
  width: 500px;
  font-size: 18px;
  border-radius: 30px;
}

input,
button,
select {
  font-size: 18px;
}

h1 {
  display: inline-flex;
  height: 50px;
  width: 330px;
  margin-top: 40px;
  justify-content: center;
  align-content: center;
}

#todos {
  padding: 20px;
}

.todo {
  border-radius: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.todo:hover {
  background-color: rgba(255, 215, 211, 1);
}

.todo .checkbox-container {
  width: calc(100% - 36px);
}

.todo button {
  border: 0;
  background: none;
  background-image: url(delete.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.todo button:hover svg {
  fill: rgb(255, 137, 124);
}

#lists {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

#lists .list {
  background-color: rgb(255, 137, 124);
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

#add-container {
  background-color: #eee;
  margin: 10px 0;
  padding: 10px;
}

#add-container form {
  display: flex;
  align-items: baseline;
}

#add-container form select {
  border: 0;
  background-color: transparent;
  padding: 5px;
  outline: none;
  width: 30%;
  margin-left: 10px;
  justify-content: flex-end;
}

#add-container form input {
  padding: 10px 0;
  width: 70%;
  outline: none;
  border: none;
  background: transparent;
}

#add-container form::before {
  content: "";
  width: 10px;
  height: 10px;
  border: solid #aaa;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  margin-right: 10px;
}

/* login */

#container-login {
  margin: 10px 0;
  padding: 10px;
}

#container-login form {
  padding-top: 5%;
  background-color: #eee;
  border-radius: 2%;
  align-items: baseline;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#container-login form input {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  grid-column-start: 2;
}

#container-login i {
  grid-column-start: 1;
}

#container-login form input:focus {
  border-style: dashed;
  border-color: #dddbdb;
  border-width: 0.8px;
}

/* register */

#container-register {
  margin: 10px 0;
  padding: 10px;
}

#container-register form {
  padding-top: 5%;
  background-color: #eee;
  border-radius: 2%;
  align-items: baseline;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

#container-register form input {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  grid-column-start: 2;
}

#container-register i {
  grid-column-start: 1;
}

#container-register form input:focus {
  border-style: dashed;
  border-color: #dddbdb;
  border-width: 0.8px;
}

/* SIMBOLOS svg */

.user {
  border: 0;
  background: none;
  background-image: url(users/user.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  width: 70%;
  height: 70%;
}

.pass {
  border: 0;
  background: none;
  background-image: url(users/lock.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  width: 70%;
  height: 70%;
}

p {
  text-align: center;
  background-color: #fff;
}

.list p {
  background-color: rgb(255, 137, 124);
  color: white;
}

.errores {
  color: red;
}

@media screen and (max-width: 500px) {
  main {
    min-width: 380px;
    width: 95%;
  }

  h1 {
    width: 230px;
  }
}
